.container {
  background: linear-gradient(var(--bg-geadient-2));
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.container h3 {
  font-size: 20px;
  font-weight: 300;
}

.container h1 {
  font-size: 38px;
  font-weight: 600;
  margin: 35px 0 70px;
  color: var(--text-main);
}

.slider {
  width: 1330px;
}

.card {
  width: 320px !important;
  height: 380px !important;
  background: var(--bg-lite-6);
  border-radius: 12px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 320px;
  height: 380px;
}

.name {
  border-radius: 0px 0px 12px 12px;
  background: var(--bg-lite-5);
  height: 47px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
  font-size: 14px;
  font-weight: 600;
}

/* Slider Media queries  */

@media (min-width:1024px)and (max-width:1370px) {
  .slider {
    width: 1100px;
  }

  .card,
  .image {
    width: 260px !important;
    height: 310px !important;
  }

  .name {
    height: 34px;
    font-size: 12px;
    font-weight: 500;
  }

}

@media (min-width:600px)and (max-width:1024px) {
  .slider {
    width: 700px;
  }

  .card,
  .image {
    width: 220px !important;
    height: 260px !important;
  }

  .name {
    height: 30px;
    font-size: 10px;
    font-weight: 400;
  }
}

@media (min-width:480px)and (max-width:600px) {
  .slider {
    width: 430px;
  }

  .card,
  .image {
    width: 210px !important;
    height: 240px !important;
  }

  .name {
    height: 25px;
    font-size: 10px;
    font-weight: 400;
  }
}

@media (max-width:480px) {

  .slider {
    width: 270px;
  }

  .card,
  .image {
    width: 265px !important;
    height: 300px !important;
  }

  .name {
    height: 35px;
    font-size: 10px;
    font-weight: 500;
  }
}

/* rest queries  */

@media (max-width:1024px) {
  .container {
    padding: 70px 0;
  }

  .container h3 {
    font-size: 16px;
  }

  .container h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0;
  }
}

@media (max-width:550px) {
  .container {
    padding: 50px 0;
  }

  .container h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
  }
}