.navBar {
  background: var(--bg-primary-lite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px;
  position: relative;
  z-index: 10;
}

.responsiveNAv {
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-lite);
  overflow: none;
}

.linksList {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.logo {
  width: 50px;
}

.link {
  margin-right: 25px;
}

.menu {
  display: none;
}

.btn {
  font-size: 11px;
  border-radius: 4px;
  background: var(--bg-lite-1);
  padding: 5px 10px;
}

.active {
  color: var(--text-main);
  font-weight: 600;
  position: relative;
}

.activebtn {
  color: var(--text-main);
  font-weight: 600;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  border-bottom: 1.5px solid var(--text-primary);
}

.borderBottom {
  border-bottom: var(--border-lite-1);
  margin-right: 25px;
  padding-bottom: 5px;
}

@media (max-width:992px) {
  .navBar {
    padding: 22px 50px;
  }

  .displayNone {
    display: none;
  }

  .displayBlock {
    display: block;
    width: 100%;
    font-size: 14px;
    margin-top: 70px;
  }

  .close {
    width: 40px;
  }

  .linksList {
    font-size: 20px;
  }

  .menu {
    display: block;
    width: 50px;
    height: 24px;
  }

  .close {
    margin-left: auto;
  }

  .copyrights {
    margin: auto auto 40px;
    text-align: center;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.48px;
  }

  .active::after {
    border-bottom: none;
  }
}

@media (max-width:550px) {
  .navBar {
    padding: 25px 30px;
  }

  .displayBlock {
    margin-top: 60px;
  }

  .logo,
  .close {
    width: 40px;
  }

  .linksList {
    font-size: 14px;
  }

  .menu {
    width: 25px;
  }

  .copyrights {
    font-size: 12px;
  }
}