.container {
  position: relative;
}

.introSection {
  height: 720px;
  width: 100%;
  background-image: url(../../../_assets/png/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.backdrop {
  filter: blur(2px);
  transition: filter 1s;
}


.videoParent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.video,
.videoParent {
  width: 826px;
  height: 485px;
}

.closeVideo {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 20px;
}

.content {
  position: absolute;
  left: 90px;
  bottom: 120px;
  color: var(--text-primary);
  font-weight: 300;
}

.dextopText {
  width: 50%;
  font-size: 20px;
  line-height: 120%;
  margin: 25px 0;
}

.resText {
  display: none;
}

@media (max-width:992px) {
  .introSection {
    height: 530px;
  }

  .video,
  .videoParent {
    width: 550px;
    height: 380px;
  }

  .closeVideo {
    top: 40px;
    right: 14px;
    width: 17px;
  }

  .content,
  .heading {
    width: 450px;
  }

  .content {
    left: 50px;
    bottom: 70px;
  }

  .dextopText {
    display: none;
  }

  .resText {
    display: block;
    font-size: 16px;
    line-height: 120%;
    margin: 15px 0 25px;
  }
}

@media (max-width:550px) {
  .introSection {
    height: 500px;
    background-image: url(../../../_assets/png/mobile-bg.png);
  }

  .setposition {
    margin-top: 0px;
    height: 80%;
  }

  .video,
  .videoParent {
    width: 320px;
    height: 220px;
  }

  .closeVideo {
    top: 25px;
    right: 10px;
    width: 20px;
  }

  .content,
  .heading {
    width: 290px;
  }

  .content {
    left: 30px;
    bottom: 30px;
  }

  .resText {
    font-size: 14px;
    margin: 0 0 20px;
  }
}