.button-container-2 {
  position: relative;
  width: 265px;
  height: 45px;
  overflow: hidden;
  border: 1px solid #B0AFAF80;
  font-family: 'Poppins', sans-serif ;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 2px;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: 'Poppins', sans-serif ;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  background: #B0AFAF80;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #000;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  position: absolute;
  color: #B0AFAF80;
  text-align: center;
  width: 101%;
  font-family: 'Poppins', sans-serif ;
  font-weight: 300;
  position: absolute;
  font-size: 16px;
  margin-top: 10px;
  overflow: hidden;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}