:root {

  --text-main: #fff;
  --text-primary: #A7A4AD;

  --bg-primary: #000;
  --bg-lite: #151515;
  --bg-lite-1: rgba(167, 164, 173, 0.20);

  --border-lite-1: 1px solid rgba(167, 164, 173, 0.50);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}