.services {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 120px 168px 90px;
  column-gap: 170px;
  position: relative;
}

.torus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.index {
  position: relative;
  z-index: 12;
  width: 100%;
  height: 100%;

}

.imageWraper {
  width: 700px;
  height: 620px;
  background:
    url(../../../_assets/png/dark-grid-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .lense {
  display: none;
} */

.content {
  color: var(--text-primary);
}

.title {
  font-size: 20px;
  font-weight: 300;
}

.content h1 {
  font-size: 38px;
  font-weight: 600;
  color: var(--text-main);
  margin-top: 40px;
}

.content hr {
  width: 100px;
  margin: 40px 0;
}

.servicesSteps {
  display: flex;
}

.heading {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 40px;
  cursor: pointer;
  user-select: none;
  color: var(--text-primary);
}

.logo {
  width: 24px;
  margin-left: 22px;
}

.active {
  color: var(--text-main);
}

.unselected {
  margin-top: 20px;
}


@media (min-width:992px) and (max-width:1200px) {
  .services {
    padding: 168px 100px 168px 90px;
    column-gap: 120px;
  }

  .imageWraper {
    width: 550px;
    height: 550px;
    background-size: 550px;
  }

  .lense {
    width: 330px;
    height: 300px;
  }
}

@media (max-width:992px) {

  .services {
    padding: 120px 90px 120px 50px;
    column-gap: 120px;
  }

  .imageWraper {
    width: 400px;
    height: 400px;
    background-size: 400px;
  }

  .title {
    font-size: 16px;
  }

  .content h1 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 24px;
  }

  .content hr {
    width: 50px;
    margin: 25px 0;
  }

  .steps {
    height: 89px;
  }

  .heading {
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
  }

  .logo {
    width: 16px;
    margin-left: 15px;
  }

  .unselected {
    margin-top: 15px;
  }

  .lense {
    width: 238px;
    height: 225px;
  }
}

@media (max-width:768px) {
  .services {
    padding: 120px 50px 120px 50px;
    column-gap: 70px;
  }

  .imageWraper {
    width: 300px;
    height: 300px;
    background-size: 300px;
  }

  .lense {
    width: 200px;
    height: 190px;
  }
}


@media (max-width:550px) {

  .services {
    flex-direction: column-reverse;
    align-items: start;
    padding: 0px 0px 70px 30px;
  }

  .imageWraper {
    width: 100%;
    height: 400px;
    background-size: 100% 400px;
  }

  .lense {
    width: 238px;
    height: 225px;
  }

  .title {
    margin-top: 30px;
  }

  .content h1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
  }

  .content hr {
    margin: 20px 0;
  }

  .heading {
    font-size: 14px;
  }

  .unselected {
    margin-top: 12px;
  }

  .logo {
    margin-left: 30px;
  }
}