.clients {
  padding: 120px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../_assets/png/clients-bg.png);
  background-size: 100%;
}

.clients h3,
.reviewContainer h3 {
  font-size: 20px;
  font-weight: 300;
}

.clients h1,
.reviewContainer h1 {
  font-size: 38px;
  font-weight: 600;
  margin: 35px 0 70px;
  color: var(--text-main);
}

.logoWrap {
  width: 246px;
  height: 166px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-lite-3);
  margin-right: 10px;
}

.reviewContainer {
  margin-top: 120px;
  text-align: center;
}

.reviewCardWraper {
  width: 100vw;
  overflow-x: scroll;
}

.innerWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0 30px;
}

.reviewCardWraper::-webkit-scrollbar {
  width: 0;
}

/* Review Card  */

.review {
  width: 350px;
  padding: 25px 30px;
  text-align: start;
  border-radius: 6px;
  border: var(--border-lite-3);
  background: linear-gradient(var(--bg-gradient-1));
}

.review h2 {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-main);
  margin-bottom: 6px;
}

.review span {
  font-size: 12px;
  font-weight: 300;
}

.review p {
  font-size: 16px;
  padding: 25px 0;
  width: 286px;
  font-weight: 300;
  line-height: 120%;
  color: var(--text-main);
}

@media (max-width:992px) {

  .clients {
    padding: 70px 0;
  }

  .clients h3,
  .reviewContainer h3 {
    font-size: 16px;
  }

  .clients h1,
  .reviewContainer h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0;
  }

  .logoWrap {
    width: 128px;
    height: 84px;
    margin-right: 5px;
    border-radius: 7px;
  }

  .logo {
    width: 55%;
  }

  .reviewContainer {
    margin-top: 70px;
  }

  .innerWrapper {
    gap: 0 20px;
  }

  .review {
    width: 230px;
    padding: 17px 20px;
    border-radius: 4px;
  }

  .review h2 {
    font-size: 11px;
    margin-bottom: 0px;
  }

  .review span {
    font-size: 7px;
  }

  .review p {
    font-size: 10px;
    padding: 15px 0 5px;
    width: 185px;
  }

}

@media (max-width:550px) {

  .clients {
    padding: 50px 0;
  }

  .clients h1,
  .reviewContainer h1 {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
  }

  .logoWrap {
    width: 103px;
    height: 70px;
    margin-right: 3px;
    border-radius: 5px;
  }

  .logo {
    width: 50%;
  }

  .reviewContainer {
    margin-top: 55px;
  }

  .innerWrapper {
    gap: 0 20px;
  }

  .review {
    width: 210px;
    padding: 17px;
  }

  .review p {
    padding: 10px 0;
  }
}