.joinUs {
  display: flex;
  justify-content: center;
  margin: 100px 90px;
  column-gap: 90px;
}

/* .cardWraper {} */

.midCard {
  margin: 20px 0;
}

/* job card  */
.jobCard {
  display: flex;
  border-radius: 7px;
  padding: 45px 45px 50px 40px;
  width: 720px;
  background: var(--bg-lite-2);
}

.jobCard h2 {
  color: var(--text-main);
  font-size: 18px;
  font-weight: 300;
}

.jobCard p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 7px;
  line-height: 120%;
}

.jobCard h3 {
  color: var(--text-main);
  font-size: 14px;
}

.detail {
  width: 120px;
}

.requireContainer {
  width: 450px;
  padding-left: 40px;
  border-left: 1px solid #A7A4AD;
  margin-left: 44px;
}